.box {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    margin-bottom: 30px;
}

#box1 {
    transition: width;
    transition-duration: 3s;
}

#box2 {
    transition: height;
    transition-duration: 3s;
}

#box3 {
    transition: width, height;
    transition-duration: 3s;
}

#box1:hover {
    width: 300px;
}

#box2:hover {
    height: 300px;
}

#box3:hover {
    height: 300px;
    width: 300px;
}
