.box {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    margin-bottom: 30px;
/*    margin-left: 50%;*/
    animation-name: boxes;
    animation-duration: 2s;
}


/*
@keyframes boxes{
     0%   {margin-left: 0;}

    100% {margin-left: auto, margin-right: auto;
    }
}
*/

@keyframes boxes {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

#box1 {
    transition: width;
    transition-duration: 3s;
}

#box2 {
    transition: height;
    transition-duration: 3s;
}

#box3 {
    transition: width, height;
    transition-duration: 3s;
    transition-timing-function: ease-in;
}

#box1:hover {
    width: 300px;
}

#box2:hover {
    height: 300px;
}

#box3:hover {
    height: 300px;
    width: 300px;
}

